<h4>Search Criteria:
  <ng-container *ngFor="let criteria of searchCriterias; let i = index;">
    “{{criteria}}”<span *ngIf="i < searchCriterias.length-1">,</span>
  </ng-container>
</h4>
<div class="table-wrapper table-responsive table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let dcol of displayedColumns; let i = index">
        <ng-container matColumnDef={{dcol}}>
          <th mat-header-cell *matHeaderCellDef>{{displayedColumnsName[i]}}</th>
          <td mat-cell *matCellDef="let searchrecord"> {{searchrecord[displayedColumnsName[i]]}} </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>
