<!-- BEGIN SIDEBAR -->
<nav id="page-leftbar" role="navigation">
        <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="title">Engagement Assignment System</li>
        <li class="bg-black" id="info">
            <div><i class="icon-circle-user"></i>S. O Ng (00701872)</div>
            <div><i class="icon-calendar"></i>Fri, Jan 19 2018</div>
            <div><i class="iconfont">&#xe618;</i></div>
        </li>
        <li id="min-menu" class="bg-black">
            <i class="icon-mini-menu"></i> <span>Minimize Menu</span>
        </li>
        <li class="active"><a routerLink="/agentHome/agentAssign"><i class="iconfont">&#xe615;</i> <span>Agent Assignment</span></a></li>
        <li><a href="javascript:;"><i class="iconfont">&#xe617;</i> <span>PDD</span> </a>
            <ul class="acc-menu" style="display: block;">
                <li><a href="policy-search.htm"><span>Lead Extension Approval</span></a></li>
                <li><a href="layout-horizontal.htm"><span>Summary</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="iconfont">&#xe616;</i> <span>eDM</span> </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>
