<!-- BEGIN SIDEBAR -->
<nav class="nav-leftsidebar" id="page-leftbar" role="navigation">
        <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="title">Engagement Assignment System</li>
        <li class="li-menuheader" id="info">
            <div><i class="icon-circle-user"></i>&nbsp;&nbsp;{{username}} ({{usercode}})</div>
            <div><i class="icon-calendar"></i>{{currDate | date:'EE, MMM d y'}}</div>
            <div><p *ngIf="loginUserService.isLeadResponseRole && currentLang=='zh'" class="p-langChange" (click)="changeLang('en')">En</p></div>
            <div><p *ngIf="loginUserService.isLeadResponseRole && currentLang=='en'" class="p-langChange" (click)="changeLang('zh')">中</p></div>
            <div><i class="iconfont">&#xe618;</i></div>
        </li>
        <li id="min-menu" class="bg-black" (click)="minimizeMenu()">
            <i *ngIf="menuMinimized" class="icon-max-menu"></i>
            <i *ngIf="!menuMinimized" class="icon-mini-menu"></i>
            <ng-container *ngIf="loginUserService.isLeadResponseRole">
              <span *ngIf="menuMinimized">{{'LEFT_SIDEBAR_MENU.MAXMIZE_MENU' | translate }}</span>
              <span *ngIf="!menuMinimized">{{'LEFT_SIDEBAR_MENU.MINIMIZE_MENU' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="!loginUserService.isLeadResponseRole">
              <span *ngIf="menuMinimized">Minimize Menu</span>
              <span *ngIf="!menuMinimized">Maxmize Menu</span>
            </ng-container>
        </li>
        <ng-container *ngIf="menu">
          <li *ngFor="let tabElem of menu" >
            <ng-container *ngIf="tabElem.enabled && tabElem.title != 'Lead Response'">
              <a *ngIf="tabElem.link" routerLink="/{{tabElem.link}}" routerLinkActive="tab-active"><!--agentAssignment , edm-->
                <i *ngIf="tabElem.title=='Agent Assignment'" class="iconfont">&#xe615;</i>
                <i *ngIf="tabElem.title=='eDM'" class="iconfont">&#xe616;</i>
                <span>{{tabElem.title}}</span>
              </a>
              <ng-container *ngIf="!tabElem.link">
                <a href="javascript:;" *ngIf="tabElem.title=='PDD'">
                  <i class="iconfont">&#xe617;</i><span>{{tabElem.title}}</span>
                </a>
                <ul class="acc-menu" style="display: none;">
                  <li *ngFor="let subElem of tabElem.children">
                    <a routerLink="/{{subElem.link}}" routerLinkActive="tab-active"><span>{{subElem.title}}</span></a>
                  </li>
                </ul>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="tabElem.enabled && tabElem.title == 'Lead Response'">
              <a href="javascript:;">
                <i class="iconfont">&#xe617;</i><span>{{'LEFT_SIDEBAR_MENU.LEAD_RESPONSE' | translate }}</span>
              </a>
              <ul class="acc-menu" style="display: none;">
                <li *ngIf="leadResponseTab.agentInterface">
                  <a routerLink="/easAgentInterface" routerLinkActive="tab-active"><span>{{'LEFT_SIDEBAR_MENU.AGENT_INTERFACE' | translate }}</span></a>
                </li>
                <li *ngIf="leadResponseTab.apUplineInterface">
                  <a routerLink="/easAPInterface" routerLinkActive="tab-active"><span>{{'LEFT_SIDEBAR_MENU.AP_UPLINE_INTERFACE' | translate }}</span></a>
                </li>
                <li *ngIf="leadResponseTab.aoInterface">
                  <a routerLink="/easAOInterface" routerLinkActive="tab-active"><span>{{'LEFT_SIDEBAR_MENU.AO_INTERFACE' | translate }}</span></a>
                </li>
              </ul>
            </ng-container>

          </li>
        </ng-container>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>
