<!-- BEGIN SIDEBAR -->
<nav class="nav-leftsidebar" id="page-leftbar" role="navigation">
        <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="title">Engagement Assignment System</li>
        <li class="li-menuheader" id="info">
            <div><i class="icon-circle-user"></i>{{username}} ({{usercode}})</div>
            <div><i class="icon-calendar"></i>{{currDate | date:'EE, MMM d y'}}</div>
            <div><span *ngIf="currentLang=='zh'" class="span-langChange" (click)="changeLang('en')">En</span></div>
            <div><span *ngIf="currentLang=='en'" class="span-langChange" (click)="changeLang('zh')">中</span></div>
            <div><i class="iconfont">&#xe618;</i></div>
        </li>
        <li id="min-menu" class="bg-black">
            <i class="icon-mini-menu"></i> <span>Minimize Menu</span>
        </li>
        <ng-container *ngIf="menu">
          <li *ngFor="let tabElem of menu" >
            <ng-container *ngIf="tabElem.enabled">
              <a *ngIf="tabElem.link" routerLink="/{{tabElem.link}}" routerLinkActive="tab-active"><!--agentAssignment , edm-->
                <i *ngIf="tabElem.title=='Agent Assignment'" class="iconfont">&#xe615;</i>
                <i *ngIf="tabElem.title=='eDM'" class="iconfont">&#xe616;</i>
                <span>{{tabElem.title}}</span>
              </a>
              <ng-container *ngIf="!tabElem.link">
                <a href="javascript:;" *ngIf="tabElem.title=='PDD' || tabElem.title=='Lead Response'">
                  <i class="iconfont">&#xe617;</i><span>{{tabElem.title}}</span>
                </a>
                <ul class="acc-menu" style="display: none;">
                  <li *ngFor="let subElem of tabElem.children">
                    <a routerLink="/{{subElem.link}}" routerLinkActive="tab-active"><span>{{subElem.title}}</span></a>
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </li>
        </ng-container>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>
