<div id="page-content">
  <div id='wrap'>
    <div class="container">
      <div class="row">
        <div id="page-heading">
          <ol class="breadcrumb">
            <li [ngClass]="currSubPage=='home' ? 'active' : ''">
              <a href="javascript:;">Home</a>
            </li>
            <li *ngIf="currSubPage=='easEDM' || currSubPage=='easEDMManagementForm' || currSubPage=='easEDMHistory'" [ngClass]="currSubPage=='easEDMList' ? 'active' : ''">
              <a routerLink="/easEDM">eDM</a>
            </li>
            <li *ngIf="currSubPage=='easEDMManagementForm'" [ngClass]="currSubPage=='easEDMManagementForm' ? 'active' : ''">
              <a routerLink="/easEDMManagementForm">Send eDM</a>
            </li>
            <li *ngIf="currSubPage=='easEDMHistory'" [ngClass]="currSubPage=='easEDMHistory' ? 'active' : ''">
              <a routerLink="/easEDMHistory">Detail</a>
            </li>
          </ol>
        </div>
      </div>      
      <app-edmlist *ngIf="currSubPage=='easEDM'"></app-edmlist>
      <app-edmhistory *ngIf="currSubPage=='easEDMHistory'"></app-edmhistory>
      <app-edmmanagementform *ngIf="currSubPage=='easEDMManagementForm'"></app-edmmanagementform>
    </div>
  </div>
</div>
