<div class="div-apUplineInterfaceWrapper">

  <div class="table-wrapper table-responsive div-apUplineInterfaceDataTable">
    <table class="row-border hover table-apUplineInterface dataTable no-footer">
      <thead>
        <tr class="row1">
            <th class="noscroll" *ngFor="let colName of displayedColumns">
              {{colName}}
            </th>
        </tr>
      </thead>
      <tbody
        *ngIf="!isLoading && displayedDataArray"
        >
        <tr *ngFor="let dataRow of displayedDataArray">
          <td *ngFor="let key of objectKeys(dataRow)">
            <span class="span-dataRow" *ngIf="dataRow[key]">
              <ng-container *ngIf="key == 'assignmentDt'">{{dataRow[key] | date:'dd/MM/yyyy'}}</ng-container>
              <ng-container *ngIf="key == 'assignmentStatus'">{{statusNumMapToText[dataRow[key]-1]}}</ng-container>
              <ng-container *ngIf="key != 'assignmentDt' && key != 'assignmentStatus'">{{dataRow[key]}}</ng-container>
            </span>
            <span *ngIf="!dataRow[key]">-</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-progress-spinner
    class="mat-progress-spinner-apUplineInterface"
    *ngIf="isLoading"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
