.div-apUplineInterfaceWrapper{
  min-height: 500px;
  .div-apUplineInterfaceDataTable{
    text-align: center;
    .h4-tableHeader{
      float: left;
      color:black;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .table-apUplineInterface{
      width: 100% !important;
      th.noscroll{
        font-size: 12px;
      }
      .span-dataRow{
        white-space: nowrap;
      }
    }
  }
  .mat-progress-spinner-apUplineInterface{
    margin: 150px auto;
  }
}
