<!-- modal in customer details -->
<div class="modal fade " id="customerDetailModal" tabindex="-1" role="dialog" aria-labelledby="customerDetailModalLabel">
  <form [formGroup]="customerDetailModalForm" class="customerDetailModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">Customer Name: {{currCustomerName}}</label><br />
          <label class="col-12 label-fromField">Phone: {{currPhone}}</label><br />
          <label class="col-12 label-fromField">Email: {{currAmail}}</label><br />
          <label class="col-12 label-fromField">Date and Time of Assignment: {{currAssignmentDt | date:'dd/MM/yyyy hh:mm'}}</label><br />
          <label class="col-12 label-fromField">Date of first contact with assigned lead:
            <input placeholder="DD/MM/YYYY" class="search-by-input"
            (dateChange)="onFirstContactDtChange($event, 0)"
            matInput [max]="maxDateFrom" [matDatepicker]="firstContactDtPicker"
            formControlName="firstContactDt" name="firstContactDtField" value="{{currFirstContactDt}}">
            <mat-datepicker-toggle matSuffix [for]="firstContactDtPicker">
              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #firstContactDtPicker></mat-datepicker>
          </label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary table-btn a-customerDtlSubmitBtn" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- modal in lead extension application -->
<div class="modal fade " id="leadExtensionModal" tabindex="-1" role="dialog" aria-labelledby="leadExtensionModalLabel">
  <form [formGroup]="leadExtensionModalForm" class="leadExtensionModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">I would like to extend the assigned lead for another 6 months:
            <textarea placeholder="Please state reasons here." class="search-by-input"
            formControlName="reasonOfExt" name="reasonOfExtField">
              {{currReasonOfExt}}
            </textarea>
          </label><br />

          <label class="col-12 label-fromField">Application will be reviewed by PDD and maximum extension is 6 months
              <button type="submit" class="btn btn-primary table-btn a-leadExtSubmitBtn" data-dismiss="modal">Submit</button>
          </label><br />

          <label class="col-12 label-fromField">Application of Extension:
            <span class="span-blue">To be Reviewed</span><span class="span-green">/ Approved / </span>
            <span class="span-red">Rejected</span>
            <textarea class="search-by-input"
            formControlName="applicationExt" name="applicationExtField">
              {{currApplicationExt}}
            </textarea>
          </label>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </form>
</div>
<!-- modal in upsell details -->
<div class="modal fade " id="upsellDetailModal" tabindex="-1" role="dialog" aria-labelledby="upsellDetailModalLabel">
  <form [formGroup]="upsellDetailModalForm" class="upsellDetailModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-topPart">
          <button type="button" class="btn btn-default table-btn a-closeBtn" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body clearfix">
          <label class="col-12 label-fromField">Customer Name: {{currCustomerName}}</label><br />
          <label class="col-12 label-fromField">Upsell Prulife Pol No.:
            <input placeholder="Please Input Pol No." class="search-by-input"
            formControlName="upsellLifePolNo" name="upsellLifePolNoField" value="{{currUpsellLifePolNo}}">
          </label><br />
          <label class="col-12 label-fromField">Upsell Life Product:
            <input placeholder="Please Input Product Name" class="search-by-input"
            formControlName="upsellLifeProd" name="upsellLifeProdField" value="{{currUpsellLifeProd}}">
          </label><br />
          <label class="col-12 label-fromField">AFYP:
            <input placeholder="Please Input AFYP" class="search-by-input"
            formControlName="afyp" name="afypField" value="{{currAfyp}}">
          </label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary table-btn a-upsellDtlSubmitBtn" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="table-wrapper table-responsive div-agentInterfaceDataTable">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-agentInterface">
    <thead>
      <tr class="row1">
          <th class="noscroll" *ngFor="let colName of displayedColumns">
            {{colName}}
          </th>
      </tr>
    </thead>
  </table>
  <div class="div-goToPage-showPerPage">
    <div class="div-goToPage">
      <span class="span-goToPage">Go to page</span>
      <div class="div-goToPage_wrapper">
        <input type="text" class="input-goToPage_left" [(ngModel)]="currPage" value="{{currPage}}"/>
        <input type="text" class="input-goToPage_right" value="/ {{noOfPage}}" disabled/>
        <input class="button-goToPage_go" value="GO" type="button" (click)="changeCurrTablePage(currPage)"/>
      </div>
    </div>
    <ul class="ul-showPerPage">
      <span>show</span>
      <li><a [ngClass]="mapToLengthMenuNum[5]" (click)="changeTablePerPage(5)">5</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[10]" (click)="changeTablePerPage(10)">10</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[20]" (click)="changeTablePerPage(20)">20</a></li>
      <span>per page</span>
    </ul>
  </div>
</div>
