<div class="table-wrapper table-responsive div-aoInterfaceDataTable">
  <h4 class="h4-tableHeader">{{'AO_INTERFACE.TABLE_TITLE' | translate}}</h4>

  <div class="clearfix div-aoSearchRecordCriteria">
    <h4 class="float-left h4-searchCriteriaText">{{'AO_INTERFACE.SEARCH_CRITERIA' | translate}}:</h4>
    <h4 class="h4-criteriaText">
      <ng-container *ngFor="let criteria of searchCriterias; let i = index;">
        <ng-container *ngIf="criteria">“{{criteria}}”
          <ng-container *ngIf="i < searchCriterias.length-1 && criteria">,</ng-container>
        </ng-container>
      </ng-container>
    </h4>
    <h4 class="float-right add-bottom h4-noOfRecords">{{'AO_INTERFACE.NO_OF_RECORDS' | translate}}: {{noOfRecords}}</h4>
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-aoInterface">
    <thead>
      <tr class="row1">
        <th>{{'AGENT_AO_INTERFACE_COLS.AGENT_CD' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.CUSTOMER_NAME' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.PHONE' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.EMAIL' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.SUBMISSION_DT' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.PROD' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.ASSIGNMENT_DT' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.FIRST_CONTACT_DT' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.ASSIGNMENT_STATUS' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.APPLICATION_EXT' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.CS_REMARKS' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.LIFE_POL_NO' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.LIFE_PROD' | translate}}</th>
        <th>{{'AGENT_AO_INTERFACE_COLS.AFYP' | translate}}</th>
      </tr>
    </thead>
  </table>
  <div class="div-goToPage-showPerPage">
    <div class="div-goToPage">
      <span class="span-goToPage">{{'DATATABLE_CONSTANTS.GO_TO_PAGE' | translate}}</span>
      <div class="div-goToPage_wrapper">
        <input type="text" class="input-goToPage_left" [(ngModel)]="currPage" value="{{currPage}}"/>
        <input type="text" class="input-goToPage_right" value="/ {{noOfPage}}" disabled/>
        <input class="button-goToPage_go" value="GO" type="button" (click)="changeCurrTablePage(currPage)"/>
      </div>
    </div>
    <ul class="ul-showPerPage">
      <span>{{'DATATABLE_CONSTANTS.SHOW' | translate}}</span>
      <li><a [ngClass]="mapToLengthMenuNum[5]" (click)="changeTablePerPage(5)">5</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[10]" (click)="changeTablePerPage(10)">10</a></li>
      <li><a [ngClass]="mapToLengthMenuNum[20]" (click)="changeTablePerPage(20)">20</a></li>
      <span>{{'DATATABLE_CONSTANTS.PER_PAGE' | translate}}</span>
    </ul>
  </div>
</div>
