<!-- modal in subpage agent details -->
<div class="modal fade " id="onLeaveModal" tabindex="-1" role="dialog" aria-labelledby="onLeaveModalLabel">
  <form [formGroup]="onLeaveModalForm" class="onLeaveModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="onLeaveModalLabel">On Leave</h4>
        </div>
        <div class="modal-body clearfix">
          <div class="col-md-6">
            <label class="label-fromField">From</label>
            <input readonly placeholder="DD/MM/YYYY" class="search-by-input"
            (dateChange)="onLeaveDateChange($event, 0)"
            matInput [min]="currDate" [matDatepicker]="onLeaveFromPicker"
            formControlName="onLeaveFrom" name="onLeaveFromField">
            <mat-datepicker-toggle matSuffix [for]="onLeaveFromPicker">
              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #onLeaveFromPicker></mat-datepicker>
          </div>
          <div class="col-md-6">
            <label class="label-toField">To</label>
            <input readonly placeholder="DD/MM/YYYY" class="search-by-input"
            (dateChange)="onLeaveDateChange($event, 1)"
            matInput [min]="minDateTo" [matDatepicker]="onLeaveToPicker"
            formControlName="onLeaveTo" name="onLeaveToField">
            <mat-datepicker-toggle matSuffix [for]="onLeaveToPicker">
              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #onLeaveToPicker></mat-datepicker>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!onLeaveModalForm.controls['onLeaveFrom'].value || !onLeaveModalForm.controls['onLeaveTo'].value " type="submit" class="btn btn-primary table-btn a-saveLeaveDateBtn" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default table-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- select btn modal -->
<div class="modal fade " id="selectBtnModal" tabindex="-1" role="dialog" aria-labelledby="selectBtnModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="selectBtnModalLabel">Are you sure to assign?</h4>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary table-btn a-selectYesBtn" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default table-btn" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="div-detailSearchRecord">
  <div class="clearfix div-detailSearchRecordCriteria">
    <h4 class="float-left h4-searchCriteriaText">Search Criteria:</h4>
    <h4 class="h4-criteriaText">
      <ng-container *ngFor="let criteria of searchCriterias; let i = index;">
        <ng-container *ngIf="criteria">“{{criteria}}”
          <ng-container *ngIf="i < searchCriterias.length-1 && criteria">,</ng-container>
        </ng-container>
      </ng-container>
    </h4>
    <h4 class="float-right add-bottom h4-noOfRenewals">Table No. Of Renewals: {{noOfRenewals}}</h4>
  </div>
  <div class="table-wrapper table-responsive div-detailSearchRecordDataTable">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-detailSearchRecord">
      <thead>
        <tr class="row1">
          <th class="noscroll" *ngFor="let colName of displayedColumns">
            {{colName}}
          </th>
        </tr>
      </thead>
    </table>
    <div class="div-goToPage-showPerPage">
      <div class="div-goToPage">
        <span class="span-goToPage">Go to page</span>
        <div class="div-goToPage_wrapper">
          <input type="text" class="input-goToPage_left" [(ngModel)]="currPage" value="{{currPage}}"/>
          <input type="text" class="input-goToPage_right" value="/ {{noOfPage}}" disabled/>
          <input class="button-goToPage_go" value="GO" type="button" (click)="changeCurrTablePage(currPage)"/>
        </div>
      </div>
      <ul class="ul-showPerPage">
        <span>show</span>
        <li><a [ngClass]="mapToLengthMenuNum[5]" (click)="changeTablePerPage(5)">5</a></li>
        <li><a [ngClass]="mapToLengthMenuNum[10]" (click)="changeTablePerPage(10)">10</a></li>
        <li><a [ngClass]="mapToLengthMenuNum[20]" (click)="changeTablePerPage(20)">20</a></li>
        <span>per page</span>
      </ul>

      <input routerLink="/{{gobackRouteLink}}" class="input-detailSearchRecordBack btn btn-default table-btn all-btn" value="Back">
    </div>
  </div>
</div>
