.div-viewemail{
  .label-emailSubject{

  }
  .label-receiverEmail{

  }
  .label-receiverName{

  }
  .div-backBtn{
    input{
      position: relative;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}
