<div id="page-content">
    <div id='wrap'>
        <div class="container">
            <div class="row">
                <div id="page-heading">
                    <ol class="breadcrumb">
                        <li><a href="index.htm">Home</a></li>
                        <li class="active"><a href="index.htm">Agent Assignment</a></li>
                    </ol>
                </div>
            </div>

            <app-search-criteria></app-search-criteria>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                          <app-searchrecord
                          [displayedColumns]="searchRecordDisplayedColumns"
                          [displayedColumnsName]="searchRecordDisplayedColumnsName"
                          [searchCriterias]="searchRecordCriteria">
                        </app-searchrecord>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->
