<!-- modal in subpage agent details -->
<div class="modal fade " id="onLeaveModal" tabindex="-1" role="dialog" aria-labelledby="onLeaveModalLabel">
  <form [formGroup]="onLeaveModalForm" class="onLeaveModalForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="onLeaveModalLabel">On Leave</h4>
        </div>
        <div class="modal-body clearfix">
          <div class="col-md-6">
            <label class="label-fromField">From</label>
            <input placeholder="DD/MM/YYYY" class="search-by-input"
            (dateChange)="onLeaveDateChange($event, 0)"
            matInput [max]="maxDateFrom" [matDatepicker]="onLeaveFromPicker"
            formControlName="onLeaveFrom" name="onLeaveFromField">
            <mat-datepicker-toggle matSuffix [for]="onLeaveFromPicker">
              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #onLeaveFromPicker></mat-datepicker>
          </div>
          <div class="col-md-6">
            <label class="label-toField">To</label>
            <input placeholder="DD/MM/YYYY" class="search-by-input"
            (dateChange)="onLeaveDateChange($event, 1)"
            matInput [min]="minDateTo" [matDatepicker]="onLeaveToPicker"
            formControlName="onLeaveTo" name="onLeaveToField">
            <mat-datepicker-toggle matSuffix [for]="onLeaveToPicker">
              <mat-icon matDatepickerToggleIcon>apps</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #onLeaveToPicker></mat-datepicker>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary table-btn a-saveBtn" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default table-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- select btn modal -->
<div class="modal fade " id="selectBtnModal" tabindex="-1" role="dialog" aria-labelledby="selectBtnModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="selectBtnModalLabel">Are you sure to assign?</h4>
      </div>
      <div class="modal-body clearfix">

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary table-btn a-selectYesBtn" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default table-btn" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="page-content">
  <div id='wrap'>
    <div class="container">
      <div class="row">
        <div id="page-heading">
          <ol class="breadcrumb">
            <li [ngClass]="currSubPage=='home' ? 'active' : ''">
              <a href="javascript:;">Home</a>
            </li>
            <li *ngIf="currSubPage=='easAgentAssignGI' || currSubPage =='easAgentAssignCS' || currSubPage=='easAgentDetail' || currSubPage == 'easCampaignDetail'"
                [ngClass]="currSubPage=='easAgentAssignGI' || currSubPage=='easAgentAssignCS' ? 'active' : ''">
              <a routerLink="/{{agentassignmentService.currServiceName}}" (click)="changeCurrSubPage(agentassignmentService.currServiceName)">Agent Assignment</a>
            </li>
            <li *ngIf="currSubPage=='easAgentDetail'" [ngClass]="currSubPage=='easAgentDetail' ? 'active' : ''">
              <a>Agent Details</a>
            </li>
            <li *ngIf="currSubPage=='easCampaignDetail'" [ngClass]="currSubPage=='easCampaignDetail' ? 'active' : ''">
              <a>Campaign Details</a>
            </li>
          </ol>
        </div>
      </div>
      <app-searchcriteria
      *ngIf="currSubPage == 'easAgentAssignGI' || currSubPage == 'easAgentAssignCS' || currSubPage == 'easAgentDetail'"
      [currSubPage]="currSubPage"
      ></app-searchcriteria>

      <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 clearfix">
                  <app-searchrecord
                  *ngIf="currSubPage == 'easAgentAssignGI' || currSubPage == 'easAgentAssignCS'"
                  [setPopUpMsg]="setPopUpMsg"
                  [popUpMsg]="popUpMsg"
                  [setCampaignDetails]="setCampaignDetails"
                  >
                </app-searchrecord>
                <app-detailssearchrecord
                *ngIf="currSubPage == 'easAgentDetail'"
                [policyNo]="policyNo"
                >
              </app-detailssearchrecord>
              <app-campaigndetails
              *ngIf="currSubPage == 'easCampaignDetail'"
              [gobackRouteLink]="agentassignmentService.currServiceName"
              [campaignDetailObj]="campaignDetailObj"
              >
            </app-campaigndetails>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div> <!-- container -->
</div> <!--wrap -->
</div> <!-- page-content -->
