.onLeaveModalForm{
  .modal-header{
    .modal-title{
      color: #FE0000;
    }
  }
  .modal-body{
    .label-fromField, .label-toField{
      display: block;
    }
    .material-icons{
      color:red;
    }
  }
}

#selectBtnModal{
  .modal-title{
    text-align: center;
  }
  .a-selectYesBtn{
    float: left;
  }
}

#btnMsgModal{
  .btn-ok{

  }
}
